* {
  box-sizing: border-box;
  /* outline: 2px solid white; */
  padding: 0;
  margin: 0;
  text-align: center;
}
body {
  background-color: rgb(44, 41, 38);
  color: rgb(236, 165, 80);
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  border-radius: 8px;
}
header {
  height: 5rem;
  background-color: rgb(29, 26, 24);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(236, 165, 80);
  padding-left: 16px;
}
header ul {
  display: flex;
  justify-content: space-around;
}
header nav a {
  color: rgb(236, 165, 80);
  margin: 0 1rem;
  padding: 1rem 1.5rem;
}
header a:hover {
  background-color: rgb(236, 165, 80);
  color: rgb(52, 37, 22);
}
#latest-products {
  margin: 2rem auto;
  width: 80%;
}

#latest-products ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.food-item {
  background-color: rgb(228, 206, 182);
  overflow: hidden;
}

article img {
  height: 15rem;
  width: 100%;
  object-fit: cover;
}

.food-item-content h3 {
  color: rgb(59, 59, 59);
}
.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  color: white;
  background-color: rgb(228, 157, 44);
}
.btn:hover {
  background-color: rgb(221, 134, 34);
}

@media (max-width: 48rem) {
  nav {
    /* visibility: hidden; */
    display: none;
  }

  h1 {
    font-size: 1.5rem;
  }

  #latest-products ul {
    grid-template-columns: 1fr;
  }
}
